/* 
* This file is for global variables, like for header color or something like that
*
*/

$primaryColor: #da291c;
$primaryTextColor: #222221;

$primaryBgColor: #FFFFFF;

$primaryHeaderColor: #222221;
